* {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    /* background: rgb(15, 15, 15); */
    display: flex;
    flex-direction: column;
}
.app-header {
    /* color: white; */
    font-size: 72px;
    font-weight: 800;
    text-align: center;
}
svg {
    min-height: 500px;
    min-width: 600; 
   
    /* background: cornflowerblue; */
}

rect {
    margin: 5px;
}

rect:hover {
    fill: red;
    transition: fill .3s ease-in;
}

line {
    stroke: black;
    stroke-width: 2;
}

line:hover {
    stroke: cyan;
}
.flashing {
    animation-name: flashing;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes flashing {
     from {
        stroke: red;
    }
    to {
        stroke: green;
    }
}

.main {
    display: flex;
    flex-direction: column;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.svg-smas {
    margin: 10px;
}

.tooltip {
    height: 19px;
    width: 70px;
    position: absolute;

    background: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 12px;
    display: none;
    text-align: center;
}
.icon {
    height: 25px;
    width: auto;
}

.button-sma {
    height: 36px;
    width: 72px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
}

.button-boll {
    height: 36px;
    width: 72px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
}
.input-sma:focus, .input-sma-weeks:focus {
    outline: none;
}

.input-sma {
    height: 36px;
    width: 72px;
    border-radius: 5%;
    font-size: 14px;
}

.input-sma-weeks {
    height: 36px;
    width: 72px;
    border-radius: 5%;
    font-size: 14px;
}
.inputs {
    display: flex;
    justify-content: center;
}
.github-link {
    width: 0%;
    margin: auto;
    display: inline-block;
}

.inputs > * {
    margin: 10px;
}

.draw {
    animation: draw 10s infinite;
    /* animation-fill-mode: forwards ; */
    animation-direction: reverse;
    animation-timing-function: ease-out;
    /* stroke-dashoffset: 2000; */
    stroke-dasharray: 10000;

}

@keyframes draw {
    0% { 
        stroke-dashoffset: 0;
    }
    100% { 
        stroke-dashoffset: 10000;
    }
}
